<br/>
<br/>
<br/>
<br/>
<div class="container d-flex flex-column justify-content-center align-items-center text-center">
    <div class="row">
        <h1>Efficiently browse SEC filings.</h1>
        <br/>
    </div>
    <div class="row">
        <form id="tickerForm2" class="d-flex">
            <input type="search" id="filingInput2" class="form-control me-2" style="max-width: 200px;" placeholder="Company ticker" aria-label="Search">
            <input type="submit" class="btn btn-success" value="Go">
        </form>
    </div>
</div>




<script>
    document.getElementById('tickerForm2').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent form from submitting normally
    const inputValue = document.getElementById('filingInput2').value; // Get input value
    if (inputValue) {
        const newUrl = `${window.location.origin}/filings/${inputValue}`; // Construct the new URL
        window.location.href = newUrl; // Redirect to the new URL
        console.log('success?');
    } else {
        alert("Please enter a ticker"); // Handle empty input
    }
    });
</script>