<span id="columnData" style="display: none;" data-columndata="{{data.columns}}"></span>
<div id="filingFrame" style="display: none;">
{{{data.html}}}
</div>

<div class="container">
    <h2></h2>
    <div id="tableFrame">

    </div>
</div>

<script src="/scripts/similarTables.js"></script>
