<span id="columnData" style="display: none;" data-columndata="{{data.columns}}"></span>
<div id="filingFrame" style="display: none;">
{{{data.html}}}
</div>

<div class="container">
    <h3>Similar Tables</h3>
    <a target="_blank" href="{{data.url}}"><h5>View Original Filing</h5></a>
    <div id="tableFrame">

    </div>
</div>

<script src="/scripts/similarTables.js"></script>
